
{% load static %}


<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title -->
    <title>Kapsiya</title>
    <style>
        .btnSubmit {
            border: none;
            border-radius: 4px;
            padding: 1%;
            
            cursor: pointer;
            background: #0062cc;
            color: #fff;
          }
          .container1{
            border: solid;
            padding-bottom: 10px;
          }
    </style>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.png'%}">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="{% static 'css/icofont.css'%}">
    <!-- Slicknav -->
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css'%}">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'css/datepicker.css'%}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
    
    <!-- Kapsiya CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    
</head>

<body style="color: black;">
    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator"> 
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header Area -->
		<header class="header" >
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="/"><img src="{% static 'img/logo3.png'%}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="/">Home <i class="icofont-rounded-down"></i></a>
												
											</li>
											<li><a href="/adminclick">Admin </a></li>
											<li><a href="/doctorclick">Doctor </a></li>
											<li><a href="/patientclick">Patient <i class="icofont-rounded-down"></i></a>
												
											</li>
											<li><a href="/contactus">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="/patientclick" class="btn">Book Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
    <div class="container" >
        <div class="jumbotron" style="text-align: center;" style="color: black;" style="background-color: #1a76d1;">
            <form method="POST" novalidate>
                {% csrf_token %}
                <h2>Hello Admin, Please Sign Up</h2>
                <br>
                <img src="{% static 'images/admin.png' %}" alt="Kevin" style="width:10%;" style="height:10%; ">
                <br>
                <br>
                <div class="container1">
                    <br>
                    {% for field in form %}
                    <p style="color:black;">
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ field.label_tag }}{{ field }}
                    </p>	
                    {% endfor %}
                </div>
               <br>
                <button type="submit" class="btnSubmit">Submit</button >
                <div class="text-center">Already have an account? <a href="adminlogin">Login here</a></div>
                
                <br>
                <br>
    
                
            </form>
        </div>
    </div>       
    
<!-- Footer Area -->
        
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p>At Kapsiya, we're dedicated to enhancing your well-being through a holistic approach to health.<br> Founded on the belief that wellness extends beyond mere treatment, our mission is to empower you on your journey towards optimal health and vitality</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="/aboutus"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="/contactus"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                                        
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Open Hours</h2>
                        <p>Our open hours at Kapsiya.<br>Visit us:</p>
                        <ul class="time-sidual">
                            <li class="day">Monday - Friday <span>8.00-5.00pm</span></li>
                            <li class="day">Saturday <span>Closed</span></li>
                            <li class="day">Public Holidays <span>Closed</span></li>
                        </ul>
                    </div>
                </div>
            
    <!--/ End Footer Top -->
    
    <!--/ End Copyright -->
</footer>
<!--/ End Footer Area -->

<!-- jquery Min JS -->
<script src="{% static 'js/jquery.min.js'%}"></script>
<!-- jquery Migrate JS -->
<script src="{% static 'js/jquery-migrate-3.0.0.js'%}"></script>
<!-- jquery Ui JS -->
<script src="{% static 'js/jquery-ui.min.js'%}"></script>
<!-- Easing JS -->
<script src="{% static 'js/easing.js'%}"></script>
<!-- Color JS -->
<script src="{% static 'js/colors.js'%}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap Datepicker JS -->
<script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
<!-- Jquery Nav JS -->
<script src="{% static 'js/jquery.nav.js'%}"></script>
<!-- Slicknav JS -->
<script src="{% static 'js/slicknav.min.js'%}"></script>
<!-- ScrollUp JS -->
<script src="{%static 'js/jquery.scrollUp.min.js'%}"></script>
<!-- Niceselect JS -->
<script src="{% static 'js/niceselect.js'%}"></script>
<!-- Tilt Jquery JS -->
<script src="{% static 'js/tilt.jquery.min.js'%}"></script>
<!-- Owl Carousel JS -->
<script src="{% static 'js/owl-carousel.js'%}"></script>
<!-- counterup JS -->
<script src="{% static 'js/jquery.counterup.min.js'%}"></script>
<!-- Steller JS -->
<script src="{% static 'js/steller.js'%}"></script>
<!-- Wow JS -->
<script src="{% static 'js/wow.min.js'%}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
