{% extends 'homebase.html' %}
{% load static %}
{% block content %}
<br><br><br>
<head>
    <style>
        body{
            background-color: #1a405c;
        }
        .jumbotron{
            text-align: center;
        }
        .btn-primary{
            background-color: #1a405c; ;
            pointer-events: none;
           
        }
        img{
            border-radius: 50%;
            width: 150px;
            padding: 15px;
            float: initial;
        }
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <form method="POST" novalidate>
            {% csrf_token %}
            <h2>Hello Nurse, Please Sign Up</h2>
            <img src="{% static 'images/nurse.png' %}" alt="Joan">
            {% for field in form %}
            <p>
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {{ field.label_tag }}{{ field }}
            </p>	
            {% endfor %}
            <!--<a class="btn btn-primary btn-md" style="color: white;" role="button">SignUp</a>-->
            <button type="submit" class="btnSubmit">Submit</button>
            <div class="text-center">Already have an account? <a href=" {% url adminlogin %}">Login here</a></div>
            <br>
            <br>

            
        </form>
        

    </div>
    {% include "footer.html" %}
</body>


{% endblock content%}