<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    footer {
      padding: 0px 0px 0px 0px;
      background-color: #e9ecef;
      margin: 0px;
      
    }

    p {
      text-align: center;
      color: black;

    }
  </style>
</head>

<footer>



  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>Made in Kenya <br>
            Copyright &copy; 2023 JulietKoech </p>
        </div>
      </div>
    </div>
  </div>
</footer>


</html>
