{% extends 'homebase.html' %}


{% block content %}

<br>
<br>
<head>
    <style>
        body{
            background-color: #1a405c; 
        }
        .btn-primary{
            background-color:  #ddd0c8;
        }
        .btn-primary:hover{
            background-color: #1a405c;
        }
        .jumbotron{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="margin-bottom:0px;">
        <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
        <p class="lead">Welcome to Kapsiya Dispensary Tracking System.</p>
        <hr class="my-4">
        <p>You can access various features after Login/SignUp.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
          <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
        </p>
      </div>
</body>


{% endblock content %}
